
    <%- include('partials/header');-%>
    <div class="row articles-div">
        <div class="col-lg-12 create-div">

        <%if (articles.length > 0) { %>
        <% articles.forEach(function(article) { %>
         <a class="single-article" href="/articles/<%=article._id %>">
                <h3 class='title'><%=article.title%></h3>
            </a>
                 <p class='snippet'><%=article.body%></p>
                
            <%}) %>
        <% } %>
        </div>
    </div>

    <%- include('partials/footer');-%>
