
    <%- include('partials/header');-%>



    
<h1>this is blogs</h1>
    <%if (articles.length > 0) { %>
        <% articles.forEach(function(article) { %>
         
            <a class="single-article" href="/articles/<%=article._id %>">
                <h3 class='title'><%=article.title%></h3>
                 <p class='snippet'><%=article.body%></p>
            </a>
            
         <%}) %>
       <% } %>
 

    <%- include('partials/footer');-%>