<%- include('partials/header');-%>


<div class="row details-div">
    <div class="col-lg-12 ">
<div class="details content">
    <h2> <%=article.title %></h2>

<div class="content">
<p><%= article.body%></p>
</div>
<a href="" class="delete" data-doc="<%=article._id %>">Delete</a>
</div>
</div>
<a href="/articles/<%=article._id%>/edit">edit</a>
</div>
</div>

<script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
        const endpoint = `/articles/${trashcan.dataset.doc}`;
        fetch(endpoint, {
            method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err));
    })

 


</script>

<%- include('partials/footer');-%>  