<%- include('partials/header');-%>

<div class="details content">
    <h2> <%=article.title %></h2>

<div class="content">
<p><%= article.body%></p>
</div>
<a href="" class="delete" data-doc="<%=article._id %>">Delete</a>
</div>
</div>
<a href="/articles/<%=article._id%>/edit">edit</a>




<!-- <form action="/articles/?_method=PUT" method="post" id="articles">
    <div class="form-group">
        <label class="form-label">Title</label>
        <input type="text" name="title" placeholder="" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Article</label>
        <textarea class="form-control" type="text" name="body" cols="140" rows="15" placeholder=""></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-primary mt-3">Publish</button>
    <button type="submit" name="update" class="btn btn-primary mt-3">Update</button>
</form> -->

<script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
        const endpoint = `/articles/${trashcan.dataset.doc}`;
        fetch(endpoint, {
            method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err));
    })

 


</script>

<%- include('partials/footer');-%>  